@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: #bbb8c3;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.navBar{
  background-color: rgb(37, 37, 39);
}

.navBar ul {
  max-width: 800px;
  list-style: none;
  padding: 0;
}

.navBar ul li {
  display: inline;
  position: relative;
}

.navBar ul li a {
  color: #FFF;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .6s;
}

.navBar ul li a:hover {
  background-color: rgb(24, 139, 233);
}

.navBar #nav-last-item {
  float: right;
}

/*Dropdown*/
.navBar ul ul {
  display: none;
  left: 0;
  position: absolute;
  background-color: rgb(37, 37, 39)
}

.navBar ul li:hover ul {
  display: block;
}

.navBar ul ul {
  width: 150px
}

.navBar ul ul li a {
  display: block;
}

.card {
  border: 1px solid #e5e4e9;
  border-radius: 0%;
  background-color: #efefef;
  margin-top: 30px;
  padding: 10px 0px;
  box-shadow: 0px 0px 10px #595a59;
  width: 1000px;
}

.card-header{
  background-color: #f5f5f5;
  border: 1px solid #bbb8c3;
  box-shadow: 0px 0px 5px #595a59;
  width: 900px;
  padding: 5px;
  align-items: center;
  text-align: center;
  color: #010101;
}

.card-body {
  padding: 20px 50px 20px 50px;
}

.card-footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal {
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.modal-content {
  margin: 0 auto;
  margin-top: 10%;
  max-width: 600px;
  background-color: #eee;
  padding: 0;
  box-shadow: 0 0 2px #fff;
}

.modal-header h2{
  font-weight: bold;
  text-align: center;
}

.modal-body {
  align-items: center;
  text-align: center;
}

.modal-body li {
  margin: 20px 5px 20px 0px;
}

.modal-body li a {
  padding: 5px 10px 5px 10px;
  border-radius: 2%;
  text-decoration: none;
  color: #010101;
  font-weight: bold;
  font-size: 20px;
  transition: background .9s;
}

.modal-body li a:hover {
  text-decoration: none;
  background-color: rgb(24, 139, 233);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.modal-body i {
  margin-right: 5px;
}

.modal-header, .modal-body, .modal-footer{
  padding: 10px;
}

.modal-header{
  background-color: #ccc;
}

.modal-footer{
  background-color: #ccc;
}
.btn {
  font-size: 15px;
  background-color: rgb(37, 37, 39);
  padding: 10px 20px 10px 20px;
  border: 2px solid rgb(37, 37, 39);
  cursor: pointer;
  transition: background .3s;
  border-radius: 5px;
  margin-left: auto;
  color: #fff;
}

.btn:hover {
  background-color: rgb(24, 139, 233);
}

.lbl-input {
  margin-bottom: 1em;
}

.lbl-input {
  margin-bottom: 0.2em;
  color: #666;
  display: block;
}

fieldset {
  border: 0;
}

fieldset.group .lbl-input {
  float: left;
  margin-right: 1em;
}

.group:before, .group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.lbl-input input[type="text"],
.lbl-input input[type="url"],
.lbl-input input[type="number"],
.lbl-input input[type="date"],
.lbl-input select{
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
}

.lbl-input select option {
    padding-right: 1em;
}

.lbl-input input:focus, .lbl-input select:focus, .lbl-input textarea:focus {
    background: #FFC;
}

.lbl-input label.checkbox {
  color: #000;
  display: inline-block;
  margin-right: 1em;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(37, 37, 39);
  width: 100%;
  height: 50px;
  text-align: center;
  color: #fff;
}